#Projects{
    width: 100%;
}

#flex-container-projects{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#flex-projects{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.projects-article{
    height: auto;
    padding-bottom: 3em;
    max-width: 30em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    border-radius: 14px;
    /* padding: 2em; */
    transition: all 0.5s;
    margin: 1em 0;
    justify-content: flex-start;
}

.grey{
    background-color: var(--grey);
}

.green{
    background-color: var(--green);
}

.projects-article:hover{
    box-shadow: 2px 2px 51px -12px rgba(0,0,0,0.75);
}

.flex-buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.flex-buttons button{
    padding: 0.5em 1.5em;
    border-radius: 10px;
    background-color: #fff;
    transition: 0.5s;
    border: none;
    color: black;
}


.flex-buttons button:hover{
    color: #fff;
    background-color: var(--green);
}

.projects-article h1{
    font-size: 25px;
    margin-top: 1em;
}



#Projects figure {
    display: flex;
    width: 100%;
    max-width: 34em;
    overflow: hidden;
    border-radius: 14px 14px 0 0;
    border-bottom: 1px solid #fff;
    margin: 0;
}

#Projects img {
    width: 100%;
    border-radius: 14px 14px 0 0;
    transition: 0.5s;
}

#Projects img:hover{ 
    transform: scale(1.1);
    overflow: hidden;
    transition: 0.5s;

}

@media (min-width: 768px) {
    
    #flex-projects{
        flex-direction: row;
        width: 100%;
        margin: 2em 0;
    }
}

@media (min-width: 1400px) {
    #flex-projects{
        max-width: 1400px;
    }
}