#Section{
    padding: 1em;
}

#Section p{
    margin: 0.5em 0;
}

#Container{
    width: 100%;
    height: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding:2em;
    margin-top: 2em;
}

#front p, #back p{
    color: #000;
}

.flex-article{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 0 0 2em 0;
}

.flex-sides{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    border: 3px solid;
    border-radius: 15px;
    justify-content: center;
    padding: 2em 0;
    background-color: #fff;
}

.flex-sides p{
    width: 60%;
}

.flex-sides li{
    text-align: left;
    margin: 0.3em 0;
    list-style-type: none;
    color: #000;
}

.flex-sides li::before{
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #34ac30b2; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; 
}

.flex-title{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#a-back{
    width: 100%;
    display: flex;
    text-align: left;
    align-items: center;
    height: 5em;
}

#a-back svg{
    margin: 2em 0;
    width: 2em;
    fill: #fff;
    transition: 0.5s;
}

#a-back a:hover{
    transition: 0.5s;
    fill: #34ac30b2;
}

.flex-title svg{
    margin: 0 1em;
    width: 2em;
    fill: #34ac30b2;
}

.flex-title h2{
    color: #000;
}

#buttons{
    padding: 1em;
}

#buttons button{
    padding: 0.5em 2em;
}

#left-side-article, #rigth-side-article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    font-size: 17px;
}

#rigth-side-article{
    padding: 1em;
}

#front, #back{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
}

.dependecies h3{
    margin: 0.5em 0;
    color: #000;
}

#left-side-article figure{
    max-width: 40em;
    width: 100%;
    height: auto;
    display: flex;
    border-radius: 10px;
    border: 3px solid #fff;
    margin: 0;
}

#left-side-article img{
    border-radius: 7px;
    width: 100%;
}

@media (min-width: 550px){
    #buttons button{
        padding: 0.5em 4em;
    }
}

@media (min-width: 768px) {

    .flex-article{
        flex-direction: row;
    }

    .flex-article{
        margin: 0;
    }

    .flex-sides{
        flex-direction: row;
    }


    #buttons button {
        font-size: 15px;
        padding: 0.5em 4em;
    }

    #rigth-side-article{
        font-size: 20px;
    }

    .flex-sides{
        margin: 2em 0;
        padding: 2em;
        font-size: 20px;
        align-items: flex-start;
    }
}

@media (min-width: 1000px) {
    #rigth-side-article{
        font-size: 25px;
    }

    #back, #front{
        margin: 0;
    }

    #left-side-article figure {
        max-width: 100%; 
    }
}