#Principal, #Skills, #Welcome, #Contact, #Service{
    width: 100%;
    height: 100%;
}

#Principal, #Projects, #Contact{
    background-color: #fafafa;
}


#Juanse-rigth, #Juanse-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex: 1 1;
    flex-wrap: wrap;
}

#Juanse-left div{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#Juanse-left h2{
    margin: 1em 0;
}

#Juanse-left article{
    height: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 8em;
    width: 100%;
    margin: 0.5em;
    padding: 0 1em;
    border-radius: 15px;
    background-color: var(--green);
    transition: 0.5s;
    color: white;
}

#Juanse-left article:hover{
    cursor: pointer;
    box-shadow: 0px 0px 31px 0px rgba(0,0,0,0.68) inset;

}

#Juanse-left svg{
    width: 30px;
    height: 30px;
    fill: #fff;
}

#Juanse-left p{
    margin: 0.5em 0;
}

#Juanse{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#Juanse figure{
    background-color: #23262a;
    border-radius: 100%;
    cursor: pointer;
    width: 16em;
    height: auto;
    overflow: hidden;
    transition: 0.5s
}




#Juanse figure:hover{
    background-color: var(--green);
}

#Juanse img{
    width: 100%;
    margin-left: 1em;
    height: 100%;
}

@media (min-width: 768px) {

    #Juanse-left div {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #Juanse{
        flex-direction: row;
    }

}