footer{
    min-height: 50vh;
    background-color: #23262a;
    color: #fff;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logos-footer{
    display: flex;
    max-width: 400px;
    width: 100%;
    justify-content: space-evenly;
}

#logos-footer svg{
    width: 30px;
    fill: #fff;
    transition: 0.5s ease-in-out;

}

#flex-navbar{
    margin-top: 1em;
    width: 100%;
}

#flex-navbar ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#flex-navbar a{
    color: #fff;
}

#logos-footer svg:hover{
    fill: var(--green);
}